html {
overflow: scroll;
overflow-x: hidden;
}

::-webkit-scrollbar {
width: 0px; /* remove scrollbar space */
}

/* FONTS */

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto-Bold'
}

h1 {
  font-size: 40pt;
}

/*NAVBAR*/

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light {
  border-color: rgb(255,102,203);
}

#topbar {
  background: url("../images/index_background.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: ;
  color: white!important;
}


a.nav-link {
  color: white!important;
}

.navbar-brand {
  padding-left: 10em;
}

.navbar-brand img {
  width: 10em;
}

.navbar-collapse {
  padding-right: 10em;
}

.navbar a {
  font-size: 12pt;
  font-family: 'OpenSans';
}

#description {
  padding-top: 7.5em;
  padding-bottom: 2.5em;
}

#description #discover {
  background-color: #e40057;
  border-color: #e40057;
  border-radius: 0;
  color: white;
  margin-top: 1em;
}

#description p {
  font-family: 'OpenSans';
  font-size: 12pt;
}

#about h1{
  padding-top: 0.5em;
}

#arrow_div {
  padding-bottom: 2.5em;
}

.arrow {
  border: solid white;
  border-width: 0 7.5px 7.5px 0;
  display: inline-block;
  padding: 7.5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  opacity: 0.5;

}

.breadcrumb{
  background-color: transparent;
  margin-left: 19%;
  margin-top: 5%;
}
.breadcrumb li.active{
  color: white;
}
/*PROJECTS CARDS*/

#projects {
  padding: 2.5em 0;
}

#projects .col-1 {
  padding: 0;
}

#projects .col-10 {
  padding: 0;
}

#projects .card-text {
  font-family: 'OpenSans';
  color: rgb(21,21,21);
  font-size: 12pt;
}

#projects .row:first-child {
  padding: 2%;
}

#projects .card-title{
  color: rgb(21,21,21);
  font-family: 'Roboto-Bold';
  font-size: 20pt;
}

#projects .second_text {

  font-size: 0.9em;
}



/*PRJECTS PAGE*/

#page_projects{
  background-color: rgb(45,27,55);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white!important;
}

#page_projects .navbar {
  background-color: inherit!important;
}

.text_team{
  margin-right: 2%;
}
#teamA{
  padding: 2% 5% 8% 5%;
  margin: 0;
}

#teamB{
  padding: 8%;
  margin: 0;
}

#teamC{
  padding: 8%;
  background-color: rgb(255, 238, 226);
  margin: 0;

}

#teamD{
  padding: 8%;
  margin: 0;
  background-color: rgb(241, 87, 87);
  color: white;
}

.img_projects{
  width: 100%;
  height: auto;
}

#followTeamA{
  background-color: rgb(228,0,88);
  color: white;
  width: 100%;

}

#followTeamB{
  background-color: rgb(33, 206, 192);
  color: white;
  width: 100%;

}


#followTeamC{
  background-color: rgb(142, 87, 189);
  color: white;
  width: 100%;

}

#followTeamD{
  background-color:  rgb(255, 192, 0);
  color: white;
  width: 100%;

}


/*COMPANIES*/

#companies {
  background-color: #fafafa;
  margin-top: 5em;
  padding-bottom: 5em;
  padding-top: 2em;
  margin-left: 0;
}

#companies #something {
  background-color: #e40057;
  border-color: #e40057;
  border-radius: 0;
  color: white;
  margin-top: 1em;
}

#companies p {
  font-family: 'OpenSans';
  font-size: 12pt;
}

#companies h2 {
  font-family: 'Roboto-Bold';
  font-size: 24pt;
}

#companies .row .col-6 .justify-content-end {
  padding: 0;
}

#companies .col-6 .row.d-flex.justify-content-end .col-6 {
  padding-top: 2em;
}

/* ABOUT US PAGE */

#about {
  background: url("../images/index_background.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white!important;
}

#aboutText {
  background-color: white;
  color: rgb(21,21,21);
  padding: 5% 15% 5% 15%;

}

#aboutUs {
  padding-bottom: 2.5em;
  margin-right: 0;
  padding-left: 0;
}

#aboutUs h1 {
  font-size: 72pt;
}


/* CONTACTS PAGE */

#contacts{
  background-color: rgb(45,27,55);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white!important;
}

.navbar {
  background-color: inherit!important;
}
#contacts form{
  padding: 5% 0 5% 0;
}

#contacts #send{
  background-color:  rgb(228,0,88);
  color: white;
  width: 30%;
  margin-top: 2%;
  margin-bottom: 10%;
}

#contacts .form-group{
  margin-top: 5%;
}

#contacts .text_team form {
  font-size: 14pt;
  font-style: italic;
  font-family: 'OpenSans';
}

#contacts .text_team form button {
  font-size: 14pt;
  font-family: 'Roboto';
}

/*FOOTER*/

footer {
  background-color: rgb(48,48,48);
  color: white;
  padding-top: 2.5em;
  font-family: 'OpenSans';
}

footer p {
  font-size: 0.75em;
}

footer .row .row {
  display: flex;
}

#footerText{
  padding-top: 2%;
}

footer #lastRow{
  padding-bottom: 2%;
}
footer #logos.row .col-6 {
  padding-left: 2em;
}

footer #lgpChaImg{
  margin-right: 3em;
  padding-right: 1em;
  height: 20px;
  width: auto;
}

footer #upImg{
  margin-right: 3em;
  padding-right: 1em;
  height: 30px;
  width: auto;
}

footer #logos.row .col-4 {
  padding-left: 2em;
}

footer #logos a {
  color: white;
}

footer .row .col-4 {
  width: 3em;
  height: 1.5em;

}

footer .row .col-4 i{
  padding-right: 1em;
  width: 2.5em;
  height: 1.5em;
  float: right;
}

footer a, footer p {
  font-size: 12px;
  font-family: 'OpenSans';
}


footer #links a {
  padding-right: 0.5em;
  text-decoration: none;
  color: white;
}


/*BREADCRUMB*/

.breadcrumb .breadcrumb-item a {
  font-family: 'OpenSans';
  font-style: italic;
  font-size: 10pt;
  color: #fff;
}


/*Texts*/

#texts {
  padding-bottom: 10em;
  color: #000
}

#texts .col-7 .card-title {
  color: #e40057;
  font-size: 12pt;
}

#texts .col-7 .card-text {
  color: #000;
  font-size: 16pt;
}

#texts .col-7 .second_text {
  color: #000;
  font-size: 12pt;
  padding-top: 2em;
}

#texts .col-7 .header {
  padding-top: 3em;
}

#texts .col-7 .second_text a{
  color: #e40057;
  font-size: 12pt;
}

#texts .col-7 .date {
  color: #000;
  font-size: 10pt;
}

#texts .col-2 .second_text {
  color: #e40057;
  font-size: 12pt;
}

#texts .col-2 {
  border: #fff;
  border-radius: 0.25em;
  background-color: #fff;
  margin-left: 2em;
  height: 30em;
}

#texts .col-2 .post {
  border-bottom: 1pt solid #000;
  margin-top: 1.5em;
}

#texts .col-2 .post .card-title a {
  color: #000;
  text-decoration: none;
}

#texts .col-2 p:first-child {
  margin: 2em 0 0 0;
}

#texts .col-9 .card-title {
  color: #e40057;
}

#texts .col-sm-6.col-lg-4 {
  padding-bottom: 2em;
}

@media (min-width: 576px) {
  #companies .col-5 {
    padding-left: 2em;
    margin-right: 1em;
  }

  .row {
    margin: 0;
  }

}